@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:400,600);

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  -webkit-user-select: none;
  user-select: none;
}

*:not(a):not(a *) {
  cursor: default;
}

html {
  height: 100%;
}

body {
  background: #101214;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  color: #7A7C80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1, h2 {
  font-weight: normal;
  font-size: 36px;
  color: white;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 580px),
       only screen and (max-width: 578px) {
  #page {
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-content {
  text-align: center;
}

#header-logo {
  text-align: center;
}

#header-content #logo {
  width: 180px;
  height: 150px;
  margin-bottom: 20px;
}

#header-content p {
  padding-top: 8px;
  font-size: 22px;
}

#contact {
  padding-top: 20px;
}

#nav {
  padding-top: 18px;
  font-size: 16px;
}
#nav a {
  border-bottom: 1px solid #3a3d42;
  padding-bottom: 2px;
  transition: color 0.15s, border-color 0.15s;
}
#nav a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

#contact a {
  display: inline-block;
  margin-right: 5px;
}

#contact a,
#contact a svg {
  width: 32px;
  height: 26px;
  cursor: pointer;
}

#contact a svg path {
  fill: #7A7C80;
}
#contact a:hover svg path {
  fill: #adb0b6;
}




a {
    color: #7A7C80;
  text-decoration: none;
}

a:hover {
    color: #adb0b6;
}

#page-stripes {
  pointer-events: none;
}

@media only screen and (max-width: 578px) {
  header {
    padding: 20px;
  }
}

#intro {
  background: #101214;
  pointer-events: none;
}

#logo-container {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#logo-container > svg {
  width: 70vw;
  height: 70vh;
  max-width: 640px;
  max-height: 536px;
}
